<section class="mx-auto md:w-3/4 lg:w-1/2 my-14">
  <h1 class="text-center text-6xl text-gray-300 my-10">BARBEROS</h1>
  <section class="flex justify-between items-center">
    <img src="/assets/goku-base.png" alt="Goku" class="h-96" />
    <img src="/assets/vegeta-base.png" alt="Vegeta" class="h-96" />
  </section>
</section>
