---
const { id } = Astro.props
---

<footer
  id={id}
  class="text-xl text-white text-center my-16 w-4/5 mx-auto bg-gray-800 p-6 rounded-3xl flex justify-between"
>
  <span
    class="hover:text-[#F77737] hover:scale-110 transition-all active:scale-90 active:text-[#F77737AA]"
  >
    <a
      href="https://www.instagram.com/octopuspeluqueria/"
      class="flex justify-start items-center gap-2"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-brand-instagram"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
        ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path><path
          d="M16.5 7.5l0 .01"></path></svg
      >
      Octopus Barbería
    </a>
  </span>
  <span
    class="hover:text-[#F77737] hover:scale-110 transition-all active:scale-90 active:text-[#F77737AA]"
  >
    <a class="flex justify-start items-center gap-2" href="#nav">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-square-rounded-arrow-up"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M16 12l-4 -4l-4 4"></path><path d="M12 16v-8"></path><path
          d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
        ></path></svg
      >
      Volver Arriba
    </a>
  </span>
</footer>
