---
const { id } = Astro.props
---

<nav id={id} class="w-4/5 mx-auto my-4 p-5 flex justify-evenly items-center">
    <a class="hover:scale-125 hover:text-blue-200 transition-all ease-in" href="#top">Inicio</a>
    <a class="hover:scale-125 hover:text-blue-200 transition-all ease-in" href="#encabezado">Nosotros</a>
    <a class="hover:scale-125 hover:text-blue-200 transition-all ease-in" href="#galeria">Trabajos</a>
    <a class="hover:scale-125 hover:text-blue-200 transition-all ease-in" href="#info">Contacto</a>
    <a class="hover:scale-125 hover:text-blue-200 transition-all ease-in" href="#redes">Redes</a>
</nav>